# Dependencies
**/node_modules/

# Build outputs
.dist/
**/dist/
**/build/

# Coverage and caches
coverage/
**/coverage/
**/.turbo/
**/.cache/

# Next.js build output
**/.next/

*.md

**/pnpm-lock.yaml